/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 80%;
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Modal Title */
.modal h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Buttons for Parent/Doctor */
.role-buttons button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #009688;
  color: #fff;
  border-radius: 4px;
}

/* Common button styling for Close and Back buttons */
.modal-button {
  padding: 8px 16px;
  background-color: #7dc2f7; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  z-index: 1100; /* Ensure it's above other content */
  transition: transform 0.2s ease, background-color 0.3s ease;
}

/* Hover Effect for both Close and Back Buttons */
.modal-button:hover {
  background-color: #028ef9;
  transform: scale(1.1);
}

/* Focus Effect for both Close and Back Buttons (when clicked) */
.modal-button:active {
  transform: scale(1);
}

/* Positioning for Close Button */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Positioning for Back Button */
.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Styling for Role Images (Parent/Doctor) */
.role-images {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.role-option {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.role-option:hover {
  transform: scale(1.1);
}

.role-option img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.role-option p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.role-option:hover p {
  color: #ff5722;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .modal {
    width: 70%; 
  }

  .role-images {
    flex-direction: column;
  }

  .role-option {
    margin-bottom: 20px;
  }

  .role-option img {
    width: 100px; 
    height: 100px;
  }
}
